body {
    margin: 0;
    font-family: 'Lobster Two', cursive;
    color: rgb(53, 52, 53);
    background-color: #212E53;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, #BED3C3, #4A919E 60%);
}

header>p {
    font-size: 2em;
    letter-spacing: 0.01em;
    margin-left: 9em;
}

.logo {
    width: 4em;
    height: 100%;
    padding-left: 0.5em;
}

#basket {
    width: 1.5em;
}

h1 {
    margin: 0;
    display: flex;
    padding: 0.5em;
}

nav .nav-list {
    display: flex;
    align-items: center;
}


nav .nav-list .nav-item {
    list-style-type: none;
    cursor: pointer;
    height: 100%;
    font-size: 1.1em;
    padding: 0 30px;
    transition: .4s;
}

nav .nav-list .nav-item .nav-link {
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(53, 52, 53);
    text-decoration: none;
}

nav .nav-list .nav-item .nav-link:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

nav .nav-list .nav-item .nav-link:hover:after {
    width: 90%;
    background: black;
}


.layout {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    margin-top: 2em;
    padding: 2em 2em 2em 3em;
    width: 25em;
    border-radius: 20px;
    font-size: 1.5em;
    background-color: rgb(222, 221, 221);
    box-shadow: rgba(224, 224, 224, 0.20) 0px 54px 55px, rgba(224, 224, 224, 0.10) 0px -12px 30px, rgb(224, 224, 224, 0.10) 0px 4px 6px, rgb(224, 224, 224, 0.15) 0px 12px 13px, rgb(224, 224, 224, 0.09) 0px -3px 5px;
}

input {
    padding: 0.5em;
    height: 20px;
    border: 1px solid black;
}

small {
    font-size: small;
}

.small {
    font-size: small;
    color: rgb(183, 3, 3);
    text-align: center;
}

.error {
    padding-left: 4em;
}

.mdp {
    width: 17em;
    position: relative;
    left: 2em;
}

form {
    width: 17em;
}

.align {
    display: flex;
    justify-content: end;
}

.center {
    position: relative;
    left: 47%;
}

.forgot {
    font-size: smaller;
    text-decoration: none;
    color: black;
    padding-left: 1em;
}

label {
    padding-right: 1em;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: auto;
}

button {
    width: 200px;
    height: 70px;
    margin-top: 0.5em;
    background: linear-gradient(to left top, #4A919E 50%, #212E53 50%);
    border-style: none;
    color: white;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

button span {
    position: absolute;
    display: block;
}

button span:nth-child(1) {
    height: 3px;
    width: 200px;
    top: 0px;
    left: -200px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #4A919E);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1 {
    0% {
        left: -200px
    }

    100% {
        left: 200px;
    }
}

button span:nth-child(2) {
    height: 70px;
    width: 3px;
    top: -70px;
    right: 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #212E53);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}

@keyframes span2 {
    0% {
        top: -70px;
    }

    100% {
        top: 70px;
    }
}

button span:nth-child(3) {
    height: 3px;
    width: 200px;
    right: -200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), #212E53);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}

@keyframes span3 {
    0% {
        right: -200px;
    }

    100% {
        right: 200px;
    }
}

button span:nth-child(4) {
    height: 70px;
    width: 3px;
    bottom: -70px;
    left: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), #4A919E);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}

@keyframes span4 {
    0% {
        bottom: -70px;
    }

    100% {
        bottom: 70px;
    }
}

button:hover {
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .4);
}

button:hover span {
    animation-play-state: paused;
}

.mainContainer {
    color: white;
    padding: 0 15em;
    line-height: 2em;
    font-size: larger;
    position: relative;
    margin-bottom: 5em;
}

.mainTOS {
    display: flex;
    justify-content: center;
}

.mainTOS>div>h2 {
    text-align: center;
}

.tOSList {
    list-style-type: none;
}

.tOSList a {
    text-decoration: none;
    color: white;
}

.maincolor {
    width: 28vw;
}

#contents {
    text-align: start;
}

strong {
    text-decoration: underline;
}

.chevronUp {
    margin-bottom: 5vh;
    position: sticky;
    top: 90vh;
    text-align: end;
    right: 50px;
}

#chevronUp{
    position: absolute;
    width: 50px;
    margin-left: 7em;
}

footer{
    display: flex;
    align-items: center;
    padding-top: 1em;
    background: linear-gradient(to left, #4A919E, #BED3C3 100%);
    position:absolute;
    bottom: 0;
    width: 100%;
}

.footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

footer .logofooter {
    width: 9em;
    height: 100%;
}

.containerSocial {
    display: flex;
    justify-content: space-around;
    margin: 0.5em auto;
}

.social {
    width: 2em;
}

.add {
    padding-left: 5em;
}

.links {
    color: black;
    font-size: large;
}

.linkList {
    padding: 0;
}

.linkList li {
    list-style-type: none;
}

.linkList li:hover {
    text-decoration: underline;
}

.linkList li a {
    text-decoration: none;
    color: black;
}

.apropos {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}