body {
    margin: 0;
    font-family: 'Lobster Two', cursive;
    color: rgb(53, 52, 53);
    background-color: #212E53;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, #BED3C3, #4A919E 60%);
    padding: 0 260px;
}

header>h1 {
    padding: 0;
}

header>p {
    font-size: 2em;
    letter-spacing: 0.01em;
    margin-left: 12em;
}

.logo {
    width: 4em;
    height: 100%;
    padding-left: 0.5em;
}

.mini {
    width: 2rem;
}

h1 {
    margin: 0;
    display: flex;
    padding: 0.5em;
}

nav .nav-list {
    display: flex;
    align-items: center;
}


nav .nav-list .nav-item {
    list-style-type: none;
    cursor: pointer;
    height: 100%;
    font-size: 1.1em;
    padding: 0 30px;
    transition: .4s;
}

nav .nav-list .nav-item .nav-link {
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(53, 52, 53);
    text-decoration: none;
}

nav .nav-list .nav-item .nav-link:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

nav .nav-list .nav-item .nav-link:hover:after {
    width: 90%;
    background: black;
}

main>h1 {
    color: white;
    display: flex;
    justify-content: center;
}

.pad {
    padding-bottom: 1.5em;
}

#padleft {
    padding-left: 7em;
}

.flex {
    display: flex;
}

.layout {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
    padding: 2em 2em 2em 3em;
    width: 25em;
    border-radius: 20px;
    font-size: 1.5em;
    background-color: rgb(222, 221, 221);
    box-shadow: rgba(224, 224, 224, 0.20) 0px 54px 55px, rgba(224, 224, 224, 0.10) 0px -12px 30px, rgb(224, 224, 224, 0.10) 0px 4px 6px, rgb(224, 224, 224, 0.15) 0px 12px 13px, rgb(224, 224, 224, 0.09) 0px -3px 5px;
}

input {
    padding: 0.5em;
    height: 20px;
    border: 1px solid black;
}

small {
    font-size: small;
}

.small {
    font-size: small;
    color: rgb(183, 3, 3);
    text-align: center;
}

.error {
    padding-left: 4em;
}

.mdp {
    width: 17em;
    position: relative;
    left: 2em;
}

.align {
    display: flex;
    justify-content: end;
}

.center {
    position: relative;
    left: 45%;
}

.margin {
    margin: 0em 10em;
}

.registerForm {
    margin-right: 8rem;
}

.new {
    font-size: smaller;
    text-decoration: none;
    color: black;
    padding-left: 5rem;
}

.logBtn {
    position: relative;
    left: 19%;
}

.forgotBtn {
    position: relative;
    left: 10%;
}

.buttonDash {
    position: relative;
    left: 37%;
}

.forgot {
    font-size: smaller;
    text-decoration: none;
    color: black;
    padding-left: 1em;
}

label {
    padding-right: 1em;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: auto;
}

button {
    width: 200px;
    height: 70px;
    margin-top: 0.5em;
    background: linear-gradient(to left top, #4A919E 50%, #212E53 50%);
    border-style: none;
    color: white;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all 0.5s;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

button span {
    position: absolute;
    display: block;
}

button span:nth-child(1) {
    height: 3px;
    width: 200px;
    top: 0px;
    left: -200px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #4A919E);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1 {
    0% {
        left: -200px
    }

    100% {
        left: 200px;
    }
}

button span:nth-child(2) {
    height: 70px;
    width: 3px;
    top: -70px;
    right: 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #212E53);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}

@keyframes span2 {
    0% {
        top: -70px;
    }

    100% {
        top: 70px;
    }
}

button span:nth-child(3) {
    height: 3px;
    width: 200px;
    right: -200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), #212E53);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}

@keyframes span3 {
    0% {
        right: -200px;
    }

    100% {
        right: 200px;
    }
}

button span:nth-child(4) {
    height: 70px;
    width: 3px;
    bottom: -70px;
    left: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), #4A919E);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}

@keyframes span4 {
    0% {
        bottom: -70px;
    }

    100% {
        bottom: 70px;
    }
}

button:hover {
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .4);
}

button:hover span {
    animation-play-state: paused;
}

.mainContainer {
    color: white;
    padding: 0 300px;
    line-height: 2em;
    font-size: larger;
    position: relative;
    margin: 2em 0 5em 0;
}

.basketContainer {
    width: 40em;
    margin: 2em auto;
    padding: 2em 2em 2em 3em;
    background-color: rgb(222, 221, 221);
    box-shadow: rgba(224, 224, 224, 0.20) 0px 54px 55px, rgba(224, 224, 224, 0.10) 0px -12px 30px, rgb(224, 224, 224, 0.10) 0px 4px 6px, rgb(224, 224, 224, 0.15) 0px 12px 13px, rgb(224, 224, 224, 0.09) 0px -3px 5px;
    border-radius: 20px;
}

.product_card {
    width: 20em;
    background-color: white;
    border-radius: 20px;
    padding: 1em 2em;
    margin: 2em 4em;
    box-shadow: rgba(224, 224, 224, 0.20) 0px 54px 55px, rgba(224, 224, 224, 0.10) 0px -12px 30px, rgb(224, 224, 224, 0.10) 0px 4px 6px, rgb(224, 224, 224, 0.15) 0px 12px 13px, rgb(224, 224, 224, 0.09) 0px -3px 5px;
}

.selected_product {
    width: 25em;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    padding: 1em 2em;
    margin: 2em 4em;
}

.mainShop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainTOS {
    display: flex;
    justify-content: center;
}

.mainTOS>div>h2 {
    text-align: center;
}

.tOSList {
    list-style-type: none;
}

.tOSList a {
    text-decoration: none;
    color: white;
}

.maincolor {
    width: 28vw;
}

#contents {
    text-align: start;
}

strong {
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

.chevronUp {
    margin-bottom: 5vh;
    position: sticky;
    top: 90vh;
    text-align: end;
    right: 50px;
}

#chevronUp {
    position: absolute;
    width: 50px;
    margin-left: 7em;
}

footer {
    display: flex;
    align-items: center;
    background: linear-gradient(to left, #4A919E, #BED3C3 100%);
    width: 100%;
}

.footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

footer .logofooter {
    width: 9em;
    height: 100%;
}

.containerSocial {
    display: flex;
    justify-content: space-around;
    margin: 0.5em auto;
}

.social {
    width: 2em;
}

.add {
    padding-left: 5em;
}

.links {
    color: rgb(53, 52, 53);
    ;
    font-size: large;
}

.linkList {
    padding: 0;
}

.linkList li {
    list-style-type: none;
}

.linkList li:hover {
    text-decoration: underline;
}

.linkList li a {
    text-decoration: none;
    color: rgb(53, 52, 53);
    ;
}

.apropos {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.boxContainer {
    display: flex;
    justify-content: space-around;
}

.box {
    background-color: #4A919E;
    border: 1px solid black;
    border-radius: 20px;
    width: 20em;
    text-align: center;
    padding: 0.5em 0;
}

.box>h3,
p {
    margin: 0;
}

.boxLink {
    text-decoration: none;
    color: rgb(53, 52, 53);
    ;
    margin-right: 2em;
    margin-top: 2em;
}

.product_image {
    width: 100%;
    min-height: 481px;
}

.basket_image {
    width: 25%;
    height: auto;
    margin-right: 2em;
}

.price_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5em;
}

.desc_link {
    color: rgba(2, 2, 225, 0.887);
}

.desc_link:visited {
    color: rgba(2, 2, 225, 0.887);
}

.product_desc {
    min-height: 80px;
}

.close {
    position: relative;
    width: 2.5em;
    left: 17em;
    top: 0.60em;
}

.order_card {
    width: 50em;
    background-color: white;
    border-radius: 20px;
    padding: 1em 2em;
    margin: 2em 4em;
    box-shadow: rgba(224, 224, 224, 0.20) 0px 54px 55px, rgba(224, 224, 224, 0.10) 0px -12px 30px, rgb(224, 224, 224, 0.10) 0px 4px 6px, rgb(224, 224, 224, 0.15) 0px 12px 13px, rgb(224, 224, 224, 0.09) 0px -3px 5px;
}

.order_image {
    width: 100%;
}

.order_container {
    display: flex;
    justify-content: center;
}

/* Styles pour les petits écrans */
@media screen and (max-width: 768px) {

    header {
        padding: 0 20px;
    }

    .mainContainer {
        padding: 20px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        font-size: 14px;
        line-height: 1.5;
    }
}

/* Styles pour les écrans de taille moyenne */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    header {
        padding: 0 20px;
    }

    .mainContainer {
        padding: 40px;
    }

    h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    p {
        font-size: 16px;
        line-height: 1.6;
    }
}
